.catch{
    text-align: center;
    margin:50px;
    color:greenyellow;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeMS7ultq-19MVg1ocSoq9XewHh3VFTTUWoA&usqp=CAU");
    font-size:15px;
}
.header{
    text-align: center;
    font-style:italic;
    font-size:30px;
    font-weight: bold;
    background: radial-gradient(rgb(173, 165, 241),rgb(255, 0, 170));
    color:white;
}

#resultarea{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;  
    justify-content: center;
    gap:2em;   
    margin:0px;     
}
.container{
   color:rgb(247, 14, 14);
   font-family: cursive;  
   background-color:rgb(246, 246, 253);   
   border:2px solid yellow;
   margin:20px ;
   padding:5px;
   border-radius: 5px;  
   width:300px;
   height:400px;      
   overflow:scroll;     
}
#title{
    margin:5px;
}
.brands{  
    color:white;
    padding:10px; 
    margin:0px;  
   
}
#btn{
    height:50px;
    width:50px;
    text-align: center;
    margin:10px 500px;
}
.header1{
    margin:10px 700px;
    padding:20px 20px;
    text-align: center;
    background: linear-gradient(rgb(245, 237, 228),rgb(29, 245, 112));
    padding:20px 20px;    
    font-style:italic;   
}

